@import "tailwindcss";












:root {
  --primary : #DADADA
  --secondary: #A3A3A3
}

@font-face {
  font-family: 'IBM';
  src: url(./font/IBMPlexSans-Light.woff2) format('woff2');
}




body {
  font-family: "IBM";
  background-color: #000 ;
  color: #DADADA;
  font-weight: 500;
   /* O 500, según la variante deseada */
}


::selection{
  background-color: rgb(74, 213, 74) ;
  color: gray;
}

.shiny-text {
  color:#ffffffea;
  background:linear-gradient(120deg,rgba(26, 26, 26, 0) 40%,#fffc,rgba(0, 0, 0, 0) 60%);
  background-size:200% 100%;
  -webkit-background-clip:text;
  background-clip:text;
  display:inline-block;
  animation:shine 5s linear infinite
}

@keyframes shine {
  0% {
    background-position:100%
  }
  to {
    background-position:-100%
  }
}
.shiny-text.disabled {
  animation:none
}


.shiny-button {
  cursor:pointer;
  display: flex;
  gap: 1;
  background-color:#111;
  border:1px solid #353535;

  padding:.3em 1em;
  transition:all .3s
}
.shiny-button:hover {
  background-color:#222
}
